[Desktop Entry]
Type=Application
Version=1.0
Name=Boiled Corn
Exec=boiledcorn
Comment=Sell boiled corn on a beach
Icon=boiledcorn
Terminal=false
Categories=Game;ArcadeGame;
